.slider-theme {
	position: relative;
}

.slider-theme .slider-effect_next,
.slider-theme .slider-effect_prev {
	font-size: 3.5em;
	-webkit-transition: var(--transition-default);
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
}


.slider-theme .slider-effect_next i,
.slider-theme .slider-effect_prev i {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: var(--transition-default);
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.slider-theme .slider-effect_next i:first-child,
.slider-theme .slider-effect_prev i:first-child {
	top: 0;
	color: var(--bs-gray-400);
}

.slider-theme .slider-effect_next i:last-child,
.slider-theme .slider-effect_prev i:last-child {
	top: 30px;
	opacity: 0;
	color: var(--primary-color);
	pointer-events: none;
}

.slider-theme .slider-effect_next:hover i:first-child,
.slider-theme .slider-effect_prev:hover i:first-child {
	top: -30px;
	opacity: 0;
}

.slider-theme .slider-effect_next:hover i:last-child,
.slider-theme .slider-effect_prev:hover i:last-child {
	top: 0;
	opacity: 1;
	pointer-events: auto;
}

.slider-theme .slider-effect_next {
	right: -45px;
}

.slider-theme .slider-effect_prev {
	left: -45px;
}

.section-bg {
	background: rgba(var(--secondary-rgb), .5);
}

.font-hand {
	font-family: var(--font-hand);
}

.section-heading {
	margin-bottom: 30px;
	gap: 24px;
	display: flex;
	flex-direction: column;
}

.section-heading .heading-title {
	font-family: var(--font-hand);
	font-size: 3em;
	font-weight: 700;
	color: var(--bs-black);
}

.section-heading .heading-desc {
	font-size: 1.075em;
	color: var(--bs-gray-700);
	line-height: 1.6;
}

.section-heading .heading-desc p {
	margin-bottom: 12px;
}

.section-heading .heading-desc p:last-child {
	margin-bottom: 0;
}

.section-gap {
	padding: 50px 0;
}

.header {
	background: rgba(var(--secondary-rgb), 1);
}

.header .header-title {
	font-size: 1.75em;
	font-weight: 700;
	color: var(--bs-black);
	font-family: var(--font-hand);
	position: relative;
	top: 7px;
}

.header .header-bottom {
	background: var(--bs-black);
}

.header .header-navigation ul li {
	position: relative;
}

.header .header-navigation ul li + li:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: var(--bs-white);
	height: 4px;
	width: 4px;
	border-radius: 50%;
	content: "";
	left: -2px;
	opacity: .4;
}

.header .header-navigation ul li a {
	display: inline-flex;
	align-items: center;
	padding: 22px 25px;
	color: var(--bs-white);
	position: relative;
	font-weight: 500;
	font-size: 1.075em;
	text-transform: uppercase;
}

.header .header-navigation ul li a > span {
	position: relative;
}

.header .header-navigation ul li a > span:before {
	position: absolute;
	content: "";
	display: block;
	width: 50%;
	height: 5px;
	left: 50%;
	transform: translatex(-50%);
	bottom: -10px;
	background: url('../images/decor/decor-menu.png') bottom repeat;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	-webkit-transition: var(--transition-default);
	-moz-transition: var(--transition-default);
	-ms-transition: var(--transition-default);
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
}

.header .header-navigation ul li.active > a > span:before,
.header .header-navigation ul li:hover a > span:before {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.hero-content {
	width: 768px;
	padding: 15px;
}

.hero-content .hero-content_inner {
	border: 1px solid #efefef;
	padding: 30px;
}

.hero-content .hero-content_inner .hero-content_title {
	font-size: 5em;
	font-weight: 100;
	color: var(--bs-black);
	font-style: italic;
	margin-bottom: 30px;
}

.hero-content .hero-content_inner .hero-content_sub {
	font-size: 1.15em;
	color: var(--bs-gray-700);
	line-height: 1.6;
}

.hero-content .hero-content_inner .hero-content_sub p {
	margin-bottom: 12px;
}

.hero-content .hero-content_inner .hero-content_sub p:last-child {
	margin-bottom: 0;
}

.section-introduction .introduction-image {
	border: 10px solid #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

.section-introduction .introduction-content {
	gap: 45px;
}

.introduction-box {
	gap: 30px;
}

.introduction-box .introduction-box_icon {
	height: 90px;
	width: 90px;
	padding: 10px;
	background: rgba(var(--secondary-rgb), 1);
	-webkit-transition: var(--transition-default);
	transition: var(--transition-default);
	-ms-transition: var(--transition-default);
	-moz-transition: var(--transition-default);
	-o-transition: var(--transition-default);
}

.introduction-box .introduction-box_icon:after {
	inset: -8px;
	border: 5px solid #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	-webkit-transition: var(--transition-default);
	transition: var(--transition-default);
	-ms-transition: var(--transition-default);
	-moz-transition: var(--transition-default);
	-o-transition: var(--transition-default);
	width: calc(100% + 16px);
	height: calc(100% + 16px);
}

.introduction-box .introduction-box_content .introduction-box_title {
	font-size: 1.25em;
	color: var(--bs-black);
	line-height: 1.6;
	font-weight: 700;
}

.introduction-box .introduction-box_content .introduction-box_desc {
	font-size: 1.075em;
	color: var(--bs-gray-700);
	line-height: 1.6;
	margin-top: 5px;
	font-style: italic;
}

.activity-detail {
	margin-top: 75px;
}

.activity-box {
	padding: 15px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	border: 10px solid var(--bs-white);
	border-radius: 4px;
	height: 100%;
}

.activity-box .activity-box_image {
	margin-bottom: 15px;
}

.activity-box .activity-box_image span {
	font-size: 1.5em;
	color: var(--bs-black);
	line-height: 1.6;
	font-weight: 700;
}

.activity-box .activity-box_desc {
	font-size: 1.075em;
	color: var(--bs-gray-700);
	line-height: 1.6;
	margin-top: 5px;
}

.section-thanks {
	position: relative;
	padding: 120px 0 150px;
}

.section-thanks svg {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	fill: rgba(var(--secondary-rgb), .5);
	z-index: -1;
}

.footer {
	padding: 50px 0;
	position: relative;
	background: var(--bs-black);
}

.footer:before {
	position: absolute;
	display: block;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: .3;
	pointer-events: none;
	background: url('../images/decor/footer-bg.png') center center/cover no-repeat;
}

.footer .footer-info {
	margin-top: 45px;
}

.footer .footer-info .footer-info_item {
	font-size: 1.15em;
	color: var(--bs-white);
}

.footer .footer-info .footer-info_item > a {
	color: var(--bs-gray-400);
}

.footer .footer-info .footer-info_item > a:hover {
	text-decoration: underline;
}

.footer .footer-social {
	margin-top: 24px;
}

.footer .footer-social .footer-social_item {
	font-size: 1.15em;
	width: 36px;
	height: 36px;
	background-color: var(--bs-white);
	color: var(--bs-black);
	padding: 5px;
	border-radius: 4px;
}

.footer .footer-social .footer-social_item > * {
	position: relative;
	z-index: 2;
}

.footer .footer-social .footer-social_item:hover {
	color: var(--primary-color);
}

.footer-copyright {
	margin-top: 24px;
	color: var(--bs-white);
	font-size: 1em;
}

.article-card {
	gap: 20px;
}

.article-card .card-header .card-img-top {
	will-change: transform;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

.article-card .card-header .card-date {
	top: 20px;
	font-size: .9em;
	font-weight: 700;
	transform: translateX(0) rotate(180deg);
	padding: 16px 8px;
	width: fit-content;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	writing-mode: vertical-rl;
	color: var(--bs-black);
	letter-spacing: 1px;
}

.article-card .card-body .card-meta {
	border-bottom: 1px solid rgba(var(--primary-rgb), .15);
	margin-bottom: 5px;
	padding-bottom: 15px;
	display: flex;
	align-items: center;
}

.article-card .card-body .card-meta .card-meta_item {
	position: relative;
	color: var(--bs-gray-700);
	font-weight: 500;
}

.article-card .card-body .card-meta .card-meta_item > i {
	color: var(--primary-color);
	margin-right: 3px;
}

.article-card .card-body .card-meta .card-meta_item.card-meta_category:hover {
	color: var(--primary-color);
}

.article-card .card-body .card-meta .card-meta_item + .card-meta_item {
	padding-left: 16px;
	margin-left: 16px;
}

.article-card .card-body .card-meta .card-meta_item + .card-meta_item:before {
	position: absolute;
	content: "-";
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.article-card .card-body .card-title {
	font-size: 1.3em;
	color: var(--bs-black);
	font-weight: 700;
	--lines: 2;
}

.article-card .card-body .card-text {
	color: var(--bs-gray-700);
	font-weight: 500;
	line-height: 1.6;
	margin-top: auto;
	font-size: 1.075em;
	--lines: 2;
}

.article-card:hover .card-header .card-img-top {
	transform: translate3d(-6.66%, 0, 0);
	-webkit-transform: translate3d(-6.66%, 0, 0);
	width: calc(100% + 10%);
}

.article-card .card-body .card-title:hover {
	color: var(--primary-color);
}

.text-link {
	display: inline-block;
	font-size: 1em;
	padding-bottom: 4px;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;
	overflow: hidden;
	color: var(--bs-black);
	width: max-content;
	font-weight: 500;
}

.text-link:before,
.text-link:after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	background: currentColor;
	-webkit-transition: transform .4s cubic-bezier(.31, .29, .05, .96);
	-moz-transition: transform .4s cubic-bezier(.31, .29, .05, .96);
	-ms-transition: transform .4s cubic-bezier(.31, .29, .05, .96);
	-o-transition: transform .4s cubic-bezier(.31, .29, .05, .96);
	transition: transform .4s cubic-bezier(.31, .29, .05, .96);
}

.text-link:before {
	left: 0;
}

.text-link:after {
	left: -100%;
	transition-delay: 0.3s;
}

.text-link:hover {
	color: var(--primary-color);
}

.text-link:hover:before,
.text-link:hover:after {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}


.section-breadcrumb {
	padding: 50px 0;
	background-color: rgba(var(--secondary-rgb), .5);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.section-breadcrumb .breadcrumb-title {
	font-family: var(--font-hand);
	font-size: 2em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: var(--bs-black);
	line-height: 1.5;
}

.section-breadcrumb .breadcrumb-item {
	color: var(--bs-gray-800);
	font-size: 1.075em;
}

.section-breadcrumb .breadcrumb-item > a {
	font-weight: 500;
	color: var(--bs-black);
}

.section-breadcrumb .breadcrumb-item > a:hover {
	color: var(--primary-color);
}

.section-pagination {
	padding-bottom: 30px;
}

.section-pagination .pagination {
	gap: 7px;
}

.section-pagination .pagination .page-item .page-link {
	border-radius: 4px;
	outline: none;
	box-shadow: none;
	border: 1px solid rgba(var(--primary-rgb), .15);
	color: var(--bs-gray-800);
	margin: 0;
	min-width: 36px;
	height: 36px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-pagination .pagination .page-item .page-link:hover {
	background-color: rgba(var(--primary-rgb), .15);
}

.section-pagination .pagination .page-item.active .page-link {
	background-color: var(--primary-color);
	color: var(--bs-white);
}

.detail-article .article-image {
	margin-bottom: 30px;
}

.detail-article .article-meta {
	padding: 15px 0;
	margin-bottom: 30px;
	border-top: 1px solid var(--bs-gray-400);
	border-bottom: 1px solid var(--bs-gray-400);
}

.detail-article .article-meta .article-meta_author .article-author_avatar {
	width: 40px;
	height: 40px;
}

.detail-article .article-meta .article-meta_author .article-author_content {
	font-size: 1.075em;
	color: var(--bs-gray-700);
}

.detail-article .article-meta .article-meta_author .article-author_content b {
	color: var(--bs-black);
}

.detail-article .article-meta .article-meta_list .article-meta_item {
	position: relative;
}

.detail-article .article-meta .article-meta_list .article-meta_item + .article-meta_item {
	padding-left: 16px;
	margin-left: 16px;
}

.detail-article .article-meta .article-meta_list .article-meta_item + .article-meta_item:before {
	position: absolute;
	content: "-";
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.detail-article .article-meta .article-meta_list .article-meta_item > i {
	color: var(--primary-color);
	margin-right: 3px;
}

.detail-article .article-content {
	font-size: 1.075em;
	line-height: 1.7;
	color: var(--bs-black);
}

.detail-article .article-content img {
	max-width: 100%;
}

.detail-article .article-content h2,
.detail-article .article-content h3,
.detail-article .article-content h4,
.detail-article .article-content h5,
.detail-article .article-content h6 {
	font-weight: 700;
}

.detail-article .article-content h2 {
	font-size: 2em;
}

.detail-article .article-content h3 {
	font-size: 1.8em;
}

.detail-article .article-content h4 {
	font-size: 1.6em;
}

.detail-article .article-content h5 {
	font-size: 1.4em;
}

.detail-article .article-content h6 {
	font-size: 1.2em;
}

.detail-article .article-content > * {
	margin-bottom: 15px;
}

.sidebar .sidebar-item {
	border: 1px solid var(--bs-gray-300);
	padding: 15px;
}

.sidebar .sidebar-item .sidebar-heading {
	padding: 10px;
	font-size: 1.4em;
	font-weight: 700;
	color: var(--bs-black);
	background-color: rgba(var(--secondary-rgb), .75);
	margin-bottom: 15px;
}

.sidebar .sidebar-item .sidebar-articles {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.sidebar .sidebar-item .sidebar-articles .article-card {
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.sidebar .sidebar-item .sidebar-articles .article-card .card-header {
	width: 40%;
	flex-shrink: 0;
}

.sidebar .sidebar-item .sidebar-articles .article-card .card-body .card-title {
	font-size: 1.075em;
	--lines: 3;
}

.sidebar .sidebar-item .sidebar-articles .article-card .card-body .text-link {
	margin-top: 0 !important;
}

.story-card .card-body .card-title {
	--lines: 2;
	font-size: 1.3em;
	font-weight: 700;
	color: var(--bs-black);
}

.story-card .card-body .card-text {
	color: var(--bs-gray-700);
	font-weight: 500;
	line-height: 1.6;
	margin-top: auto;
	font-size: 1.075em;
	--lines: 4;
}

.story-card .card-body .card-meta {
	border-top: 1px solid rgba(var(--primary-rgb), .15);
	margin-top: auto;
	padding-top: 15px;
	color: var(--bs-gray-700);
}

.story-card .card-body .card-meta .card-meta_author .meta-author_avatar {
	height: 40px;
	width: 40px;
	flex-shrink: 1;
}

.story-card .card-body .card-meta b {
	color: var(--bs-gray-900);
}

.story-card:hover .card-header .card-img-top {
	transform: scale(1.1);
	opacity: .8;
}

.story-card .card-body .card-title:hover {
	color: var(--primary-color);
}

.detail-story .story-meta {
	padding: 0 0 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid var(--bs-gray-400);
}

.detail-story .story-meta .story-meta_list .story-meta_item {
	position: relative;
}

.detail-story .story-meta .story-meta_list .story-meta_item + .story-meta_item {
	padding-left: 16px;
	margin-left: 16px;
}

.detail-story .story-meta .story-meta_list .story-meta_item + .story-meta_item:before {
	position: absolute;
	content: "-";
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.detail-story .story-meta .story-meta_list .story-meta_item:last-child {
	margin-left: auto;
}

.detail-story .story-meta .story-meta_list .story-meta_item:last-child:before {
	display: none;
}

.detail-story .story-meta .story-meta_list .story-meta_item > i {
	color: var(--primary-color);
	margin-right: 3px;
}

.detail-story .story-blockquote {
	border-left: 3px solid var(--primary-color);
	background-color: rgba(var(--secondary-rgb), .5);
	padding: 15px;
	color: var(--bs-black);
	font-size: 1.075em;
	line-height: 1.6;
	margin-bottom: 15px;
}

.detail-story .story-content {
	font-size: 1.075em;
	line-height: 1.7;
	color: var(--bs-black);
}

.detail-story .story-content img {
	max-width: 100%;
}

.detail-story .story-content h2,
.detail-story .story-content h3,
.detail-story .story-content h4,
.detail-story .story-content h5,
.detail-story .story-content h6 {
	font-weight: 700;
}

.detail-story .story-content h2 {
	font-size: 2em;
}

.detail-story .story-content h3 {
	font-size: 1.8em;
}

.detail-story .story-content h4 {
	font-size: 1.6em;
}

.detail-story .story-content h5 {
	font-size: 1.4em;
}

.detail-story .story-content h6 {
	font-size: 1.2em;
}

.detail-story .story-content > * {
	margin-bottom: 15px;
}

.detail-story .story-author {
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px solid var(--bs-gray-400);
}

.detail-story .story-author .story-author_heading {
	font-size: 1.5em;
	color: var(--bs-black);
	font-weight: 700;
	margin-bottom: 25px;
	padding-left: 10px;
	border-left: 4px solid var(--primary-color);
}

.detail-story .story-author .story-author_content .story-author_title {
	font-size: 1.25em;
	color: var(--bs-black);
	font-weight: 700;
	margin-bottom: 10px;
}

.detail-story .story-author .story-author_content .story-author_desc {
	color: var(--bs-gray-700);
	font-weight: 500;
	line-height: 1.6;
	margin-top: auto;
	font-size: 1.075em;
}

.story-related {
	border-top: 1px solid var(--bs-gray-200);
	background-color: rgba(var(--secondary-rgb), .5);
}

.story-related .section-heading .heading-title {
	font-size: 2.25em;
}

.story-related .story-card .card-body {
	padding: 15px !important;
}